/* 
    Document   : style
    Created on : 06-oct-2013, 17:00:41
    Author     : Marcos
    Description:
        Purpose of the stylesheet follows.
*/

.fondo{
-fx-background-image: url("/imagenes/CoarseGrid.png");
    -fx-background-repeat: repeat;
-fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}
.backgroundImagen{
    
/*   -fx-background-image: url("https://www.google.com/images/srpr/logo3w.png");*/
/*   -fx-background-size: 1000, 100;*/
    -fx-background-repeat: no-repeat;
    -fx-border-color: #2e8b57;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}

