html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, strong, ul, li, article, footer, header, nav, section
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article, footer, header, nav, section 
{
    display: block
}
span {
    font-size: 18px;
}
body 
{ 
    font:13px/1.231 sans-serif; *font-size:small
}

html 
{ 
    background:#3b3b3b; 
    overflow-y: scroll
}

a, a:hover, a:active 
{ 
    outline: none
}

ul
{ 
    margin-left: 2em
}

nav ul, nav li 
{ 
    margin: 0; 
    list-style:none; 
    list-style-image: none
}

strong
{ 
    font-weight: 700
}

a:link 
{ 
    -webkit-tap-highlight-color: #a7dbd8
}

body
{
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:400;
    font-style: normal; 
    font-size:15px; 
    line-height:21px; 
    color:#424242;
    text-shadow:#666 0 1px 0;
}

h1, h2, h3, h4, h5, h6 
{
    font-family:Rockwell, 'GeoSlb712MdBTMedium',"Courier Bold", Courier, Georgia, Times, "Times New Roman", serif
}
h1{
    font-size: 30px !important;
    color: #007;
    font-style: normal !important;
}

a, a:active, a:visited 
{ 
    color: #3299bb; 
    text-decoration:none
}

a:hover 
{ 
    color: #424242; 
    text-decoration:underline
}

/* RUBEN */
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }


#textoPr{
    height: 500px;
    width: 100%;
}
#form1{
    height: 350px;
    width: 560px;
    margin-left: 100px;
    float: left;
    margin-top: 60px;
    display: block;
}
#comboCategoria{
    width: 150px;

}
#selRival{
    width: 150px;
    margin-left: 21px;

}
#feedback{
    margin-top: 50px;
    margin-bottom:40px;
}
#bCrear{
    width: 100px;
    margin-left: 25px;
}
input[type=text]{
    margin-right: 5px;
    border-radius: 4px;
}
#nombreEvento{
    width: 150px;
    margin-left: 20px;
}
#fechaInicio{

    margin-left: 15px;
    margin-right: 5px;
}
#fechaFin{
    margin-left: 15px;
}
input[type=password]{

    margin-top: 5px;
}
label[for=name]{
    margin-left: 5px;
}
label[for=password]{
    margin-left: 5px;
    margin-top: 5px;
}
select{
    border-radius:4px;
    margin-left: 5px;
    border-style: inset;
    border-width: 2px;

}
#comboCategoria{
    margin-left: 63px;
}
input[type=date]{
    border-radius: 4px;
}
input[id=fechaFin]{
    margin-left: 5px;
    margin-right:5px;
}
input[id=fechaInicio]{
    margin-left: 5px;
    margin-right:5px;
}

/** ::: ALEX   ::: */
#textodialogo{
    margin-top: 8px;
    margin-left: 20px;
}
.eventos{
    height: 400px;
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-left: 80px;
    max-width: 800px;
    max-height: 390px;
}
th{
    padding-right: 50px;
    height: 20px;
    text-align: left;
    min-width: 140px;
}
#eventos{
    margin-bottom: 30px;
}

#izqEvento{
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: 100px;}
#derEvento{
    float: right;
    width: 300px
}
label[for=fechaE]{
    margin-left: 5px;
    margin-top: 5px;
}
label[for=nameE]{
    margin-left: 5px;
}
label[for=descripcionE]{
    margin-left: 5px;
    margin-top: 5px;
}
input[id=descripcionE]{
    margin-right: 5px;
    border-radius: 4px;
    width: 270px;
    margin-top: 5px;
}
input[id=nombreE]{
    margin-right: 5px;
    border-radius: 4px;
    width: 270px;
}
input[id=fechaE]{
    border-radius: 4px;
    margin-top: 5px;
    width: 270px;
    text-align: right;
}

.ui-selecting { background: #FECA40;}
.ui-selected {background: #F39814; color: red;}


/* ::: CAROUSEL :::*/

#carousel{
    width: 500px;
    float: right;
    margin-top: 45px;
    margin-bottom: 10px;
    margin-right: 30px;
}

/* ::: HEADER :::  */
.container{
    width:996px;
    display: block;
    border-color: #933;
    border-right: double 4px;
    border-left: double 4px;
    padding: 0 0 0 0; !important
    margin-right: auto;
    margin-left: auto;
    min-width: 962px !important;
    max-width: 962px !important;
}

/* :::: LOGIN   :::::*/
#dialoglogin{
    visibility: none;
}

#izq{
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: 170px;}
#der{
    float: right;
    width: 200px

}


.portada{
    background:url(../imagenes/tramado.gif) repeat;
    width:100%; 
    height:200px;
    margin:0;
    padding:0; 
    z-index:200;
}
.titulo{
    margin-left:30px;
    width: 500px;
    height: 200px;
    float: left;
}
.logofito{
    width: 300px;
    height: 200px;
    float: right;
    z-index: -10;
}
a.logo_principal
{
    width: 250px;
    height: 200px;
    background:transparent url(../imagenes/fito3.png) no-repeat 0 0;
    text-indent: -9999px;
    float: right;
}

header.principal 
{
    border:thin solid #000; 
    border-width:0 0 1px;
    
}

.navegacion{

    background: transparent url(../imagenes/triangulos2.png) no-repeat 0 0;
    height: 42px;
    width: 100%;
    border:thin solid #000; 
    border-width:1px 0 0;
    min-width: 954px;
}
nav.navegacion_principal 
{
    float:left;
    font-family:Rockwell, 'GeoSlb712MdBTMedium',"Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size:20px;
    color:#3b3b3b;
    text-shadow:#fff 0 1px 0;
    line-height:42px;
    font-weight:400; 
    border:thin solid #e9e9e9;
    border-width:0 0 0 0; /* de momento */ 
    margin-left: 30px;
}

nav.right 
{
    float:right; 
    border:none;
    margin-right: 80px;
}


nav.navegacion_principal ul li 
{
    clear:right;
    float:left;
    margin:0 10px 0 30px;    
}

nav.right ul li 
{
    clear:right;
    float:left;
    margin:0 0 0 10px;
}

nav.navegacion_principal ul li a 
{
    text-decoration:none;
    color:#3b3b3b;
}

nav.navegacion_principal ul li a:hover 
{
    color:#06A;
    text-decoration:none
}

/* ::: Contenido :::  */

.cuerpo 
{
    background-color: #E6E8FF;
    display:block;
    margin:0 auto; 
    clear:both; 
    padding-top: 0px;
    height: 500px;
}
.titulocuerpo{
    margin-left: 60px;
    height:60px;
    width: 300px;
    float: left;
    padding-top:25px;
}
.tituloright{
    padding-top:25px;
    padding-right: 120px;
    height: 60px;
    float:right;
    width: 500px;
    text-align: right;
}
.texto{
    margin-left: 35px;
    padding-top:70px;
    width: 350px;
    float: left;
    text-align: justify;
}
.contenido{
    height:100%;

}
.adjunto{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    margin-left:10px;
}
.right 
{
    float:right
}

.left 
{
    float:left
}
img
{
    max-width: 100%;
    height: auto;
}
.centrado 
{
    margin:0 auto 50px; 
    position:relative
}
p 
{
    margin:0 0 30px;
}

h2 
{
    font-size:21px;
    font-weight:700; 
    color:#3b3b3b; 
    margin:0 0 30px;
}
.centrado h3 
{
    margin:0 0 10px;
}

/* ::: Principal :::  */
body 
{
    background:#f4f4f4; 
    height:auto
}
/* ::: Footer ::: */
footer
{
    background:#00273D;
    width:100%;
    height: 150px;
    clear:both;
    display:block;
    color:#bcbcbc;
    margin:0 auto;
    padding:0;
}
.footer{
    height:100%;
    width:100%;
}
.redes{
    height: 100%;
    width: 400px;
    float: left;
}
.enlaces{
    width: 100%;
    height: 50px;
}
.contacto_inferior{
    width:250px;
    height:120px;
    float:right; 
    cursor:pointer;
    border:none;
    line-height:0;
    font-size:0;
    text-decoration:none;
    margin-top: 30px !important;
}
h3{
    font-style:italic;
    color: #FF8C00;
    font-size: 80px;
    line-height:30px;
}
h4{
    font-style: normal;
    color: #244;
    font-size: 22px;
}
h5{
    font-style: normal;
    color: #09A;
    }

