html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, strong, ul, li, article, footer, header, nav, section
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article, footer, header, nav, section 
{
    display: block
}

body 
{ 
    font:13px/1.231 sans-serif; *font-size:small
}

html 
{ 
    background:#3b3b3b; 
    overflow-y: scroll
}

a, a:hover, a:active 
{ 
    outline: none
}

ul
{ 
    margin-left: 2em
}

nav ul, nav li 
{ 
    margin: 0; 
    list-style:none; 
    list-style-image: none
}

strong
{ 
    font-weight: 700
}

a:link 
{ 
    -webkit-tap-highlight-color: #a7dbd8
}

body
{
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:400;
    font-style: normal; 
    font-size:15px; 
    line-height:21px; 
    color:#424242;
    text-shadow:#666 0 1px 0;
}

h1, h2, h3, h4, h5, h6 
{
    font-family:Rockwell, 'GeoSlb712MdBTMedium',"Courier Bold", Courier, Georgia, Times, "Times New Roman", serif
}
h1{
    font-size: 38px;
    color: #963;
}

a, a:active, a:visited 
{ 
    color: #3299bb; 
    text-decoration:none
}

a:hover 
{ 
    color: #424242; 
    text-decoration:underline
}

/* ::: HEADER :::  */
.portada{
    background:url(../imagenes/tramado.gif) repeat;
    width:100%; 
    height:200px;
    border:thin solid #962; 
    border-width:0 0 1px;
    margin:0;
    padding:0; 
    z-index:200;
}
.titulo{
    margin-left: 200px;
    width: 800px;
    height: 200px;
    float: left;
}
.logofito{
    width: 300px;
    height: 200px;
    float: right;
}
a.logo_principal
{
    width: 250px;
    height: 200px;
    background:transparent url(../imagenes/fito2.png) no-repeat 0 0;
    text-indent: -9999px;
    padding-right: 200px;
    float: right;
}

header.principal 
{
    border:thin solid #962; 
    border-width:0 0 1px;
    
}
.navegacion{

    background: transparent url(../imagenes/triangulos.png) no-repeat 0 0;
    height: 42px;
    width: 100%;
}
nav.navegacion_principal 
{
    height:42px;
    float:left;
    font-family:Rockwell, 'GeoSlb712MdBTMedium',"Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size:20px;
    color:#3b3b3b;
    text-shadow:#fff 0 1px 0;
    line-height:42px;
    font-weight:400; 
    border:thin solid #e9e9e9;
    border-width:0 0 0 0; /* de momento */ 
    margin-left: 150px;
}

nav.right 
{
    float:right; 
    border:none;
    margin-right: 220px;
}


nav.navegacion_principal ul li 
{
    clear:right;
    float:left;
    margin:0 10px 0 30px;    
}

nav.right ul li 
{
    clear:right;
    float:left;
    margin:0 0 0 10px;
}

nav.navegacion_principal ul li a 
{
    text-decoration:none;
    color:#3b3b3b;
}

nav.navegacion_principal ul li a:hover 
{
    color:#953;
    text-decoration:none
}

/* ::: Contenido :::  */

.cuerpo 
{
    background-color: #CB8;
    display:block;
    margin:0 auto; 
    clear:both; 
    padding-top: 50px;
    height: 500px;
}
.titulocuerpo{
    margin-left: 100px;
    height:60px;
    width: 500px;
    float: left;
}
.tituloright{
    height: 60px;
    float:right;
    width: 500px;
}
.texto{
    margin-left: 100px;
    width: 400px;
    float: left;
}
.contenido{
    height:100%;

}
.adjunto{
    float: right;
    margin-right: 100px;
}
.right 
{
    float:right
}

.left 
{
    float:left
}
img
{
    max-width: 100%;
    height: auto;
}
.centrado 
{
    margin:0 auto 50px; 
    position:relative
}
p 
{
    margin:0 0 30px;
}

h2 
{
    font-size:21px;
    font-weight:700; 
    color:#3b3b3b; 
    margin:0 0 30px;
}
.centrado h3 
{
    margin:0 0 10px;
}

/* ::: Principal :::  */
body 
{
    background:#f4f4f4; 
    height:auto
}
/* ::: Footer ::: */
footer
{
    background:#742;
    width:100%;
    height: 150px;
    clear:both;
    display:block;
    text-shadow:none;
    color:#bcbcbc;
    margin:0 auto;
    padding:0;
}

.contacto_inferior{
    width:300px;
    height:120px;
    float:right; 
    background:transparent url(../imagenes/logo_contacto2.png) no-repeat 0 0; 
    cursor:pointer;
    border:none;
    line-height:0;
    font-size:0;
    text-decoration:none;
    margin-top: 30px; !important
    margin-right: 200px; !important
}
h3{
    font-style:italic;
    color: #FF8C00;
    font-size: 20px;
    line-height:30px;
}
h4{
    font-style: normal;
    color: #244;
    font-size: 22px;
}