/* 
    Document   : StyleDialog
    Created on : 29-sep-2013, 18:12:15
    Author     : RUBEN
    Description:
        Purpose of the stylesheet follows.
*/

#ventana { 
   -fx-border-radius:20px;
   
}

#toolbar{
        -fx-background-color: lightgreen;

}
#ventanaNews,#ventanaHorario,#ventanaBotones,#ventanaEventos,#ventanaResumen,#zonaReloj{
    -fx-background-image: url("/imagenes/CoarseGrid.png");
    -fx-background-repeat: repeat;
-fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    
}

