/* 
    Document   : StyleAccederActividades
    Created on : 09-oct-2013, 10:21:38
    Author     : RUBEN
    Description:
        Purpose of the stylesheet follows.
*/

#ventana{
    -fx-background-image: url("/imagenes/CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));

}
#botonHome{
    -fx-background-radius: 10; 

    -fx-background-insets: 0,1,2; 

     

}
#panelActividades{
    -fx-background-image: url("/imagenes/CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    
}


